body {
    padding-top: 40px;
}

.search-bar {
    padding: 20px 0 10px 0;
    background: #f1f1f1;
}

.search-container {
    float: left;
    margin-right: 10px;
}

#search {
    width: 286px;
}

.target-store {
    float: left;
}

.search-results {
    padding-top: 20px;
}

.search-item {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 300px;
    float: left;
}

.item-navigation {
    margin-bottom: 9px;
    background: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}

.item-navigation > div {
    float: left;
}
.item-navigation > div.voting-icon {
    float: right;
    padding: 2px 2px;
}

.item-navigation > div.item-similarity {
    margin: 2px 2px;
    text-align: right;
    width: 200px;
    float: right;
}

.store-image {
    width: 25px;
}
.store-image img {
    margin: 0 2px;
    width: 25px;
    height: 25px;
}

.item-icon {
    margin-right: 10px;
}
.item-icon img {
    height: 80px;
    width: 80px;
}

.item-icon,
.item-details {
    float: left;
    height: 80px;
}

.item-details {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
}

.item-description {
    margin-top: 10px;
    display: none;
}

.toggle-description:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon-playstore,
.dropdown-menu > li > a:hover > .icon-playstore {
    background-image: url("../images/playstore_small.jpeg");
    background-position: 0 0;
}
.icon-phonestore,
.dropdown-menu > li > a:hover > .icon-phonestore {
    background-image: url("../images/phonestore_small.jpeg");
    background-position: 0 0;
}
.icon-appstore,
.dropdown-menu > li > a:hover > .icon-appstore {
    background-image: url("../images/appstore_small.jpeg");
    background-position: 0 0;
}