{% extends "base.html" %}

{% block content %}

    <div class="search-bar">
        <div class="container clearfix">
            <div class="search-container">
                <input id="search" type="text" placeholder="Search" />
            </div>
            <div class="target-store">
                <div id="store-chooser" class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="store-text">All stores</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">All stores</a></li>
                        <li><a data-id="1" href="#"><i class="icon-playstore"></i> Google Play Store</a></li>
                        <li><a data-id="2" href="#"><i class="icon-phonestore"></i> Microsoft Windows Phone Store</a></li>
                        <li><a data-id="3" href="#"><i class="icon-appstore"></i> Apple App Store</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container search-results">
        <div id="notice" class="alert alert-info">
            <p>
                You may now <strong>search</strong> for apps, for example: "angry birds".
                This will show the direct results and also similar apps (or even the same) in the other stores.
            </p>
            <p>
                You can also change the <strong>target store</strong>, for example primarily show results
                from the Apple App Store.
            </p>
        </div>

        <div id="results">

        </div>
    </div>

{% endblock %}